.btn {
    background-color: $ylw_color;
    color: $blk_color;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'DMSans';
    border: none;
    width: 142px;
    height: 54px;
    font-size: 16px;
    line-height: 18px;
}